textarea {
    min-height: 400px;
}

.email-div {
    display: flex;
    border: thin solid;
    padding: .25rem;
}

.email-div[data-read='true'] {
    background: gray;
}

.email-div:hover {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.sender-div {
    flex: 1 1 auto;
}

.subject-div {
    flex: 1 1 70%;
}

.date {
    flex: 1 1 auto;
}

#email-body {
    white-space: pre-line;
}